<h3>{{ user.name }}</h3>
id: {{ user.id }}
<p>Rahea: <input type="number" step="0.01" [ngModel]="user.balance/100.0" (ngModelChange)="user.balance=Math.floor($event*100.0)">€</p>
Kortit: 
<ul>
  <li *ngFor="let card of cards">
    {{ card.code }} <input type="button" value="Poista" (click)="deleteCard(card)">
  </li>
</ul>
<div><input value="Koodi" [(ngModel)]="newCard"><input type="button" value="Lisää maksukortti" (click)="addCard()"></div>
<input type="button" (click)="okEditor()" value="OK">
<input type="button" (click)="cancelEditor()" value="Ei sit">
<input type="button" (click)="deleteEditor()" value="Poista se">