<h2>Admin-pääte</h2>
<div>
    <h3>Tuotteet</h3>
    <ul class="products">
        <li *ngFor="let product of products">
            {{product.name}} • {{product.price/100.0}}€ <input type="button" value="Poista" (click)="deleteProduct(product)">
        </li>
    </ul>
    <div>
        <input [(ngModel)]="newProduct.name" placeholder="nimi">
        <input [(ngModel)]="newProduct.code" placeholder="koodi">
        <input type="number" step="0.01" [ngModel]="newProduct.price/100.0" (ngModelChange)="newProduct.price=Math.floor($event*100.0)" placeholder="hinta">
        <input type="button" value="Lisää tuote" (click)="addProduct()">
    </div>
</div>
<div>
    <h3>Käyttäjät</h3>
    <ul class="users">
        <li *ngFor="let user of users">
            <div *ngIf="selectedUser !== user" (click)="selectUser(user)">
                {{user.name}} • {{user.balance/100.0}}€
            </div>
            <div *ngIf="selectedUser === user" class="user-admin">
                <app-user-admin (deleteUser)="deleteUser(user)" (done)="updateUser($event)" (cancel)="unselectUser()" [user]="selectedUser" [userService]="userService"></app-user-admin>
            </div>
        </li>
    </ul>
    <div>
        <input [(ngModel)]="newUser.name" placeholder="nimi">
        <input type="number" step="0.01" [ngModel]="newUser.balance/100.0" (ngModelChange)="newUser.balance=Math.floor($event*100.0)" placeholder="raha">
        <input type="button" value="Lisää käyttäjä" (click)="addUser()">
    </div>
</div>