<div>
  <h2>Tuotteet</h2>
  <ul>
    <li *ngFor="let product of products">
      {{product.name}} • {{product.price/100.0}}€
    </li>
  </ul>
</div>
<div *ngIf="shoppingCartOpened" class="cart">
  <app-shoppingcart [user]="currentUser"></app-shoppingcart>
</div>